*.swp
tags
.netrwhist
.DS_Store
Brewfile.lock.json
fish/fish_history
fish/profile.fish
fish/fishd.*
fish/generated_completions
nvim/pack/
nvim/sessions/
nvim/plugin/packer_compiled.lua
oni2/extensions
oni2/store
oni2/workspace
gitconfig.local
node_modules/*
package-lock.json
yarn.lock
