*.swp
tags
.netrwhist
.DS_Store
bash/functions/issw
bash/functions/libInputSourceSwitcher.dylib
fish/fish_history
fish/profile.fish
fish/fishd.*
fish/generated_completions
vim/autoload/
vim/pack/
vim/.vim-flavor/
vim/view/
vim/VimFlavor.lock
vscode/workspaceStorage
vscode/globalStorage
vscode/syncLocalSettings.json
gitconfig.local
node_modules/*
package-lock.json
yarn.lock
