<% content_for :${1:head} do -%>                                                                                                                            
	<%= stylesheet_link_tag "${3}" %> 
<% end -%>
